# USERNAME = 'YOUR USERNAME HERE'
# PASSWORD = 'YOUR PASSWORD HERE'
# EMAIL = 'some_email@gmail.com'
# ORG = 'some org name'



# from os import path
# import requests
# from requests.auth import HTTPBasicAuth

# def register(username, password, email, org):
#     url = 'https://api2.watttime.org/register'
#     params = {'username': username,
#               'password': password,
#               'email': email,
#               'org': org}
#     rsp = requests.post(url, json=params)
#     print(rsp.text)
